.lesson {
  background-color: lemonchiffon;
}

.lesson-two {
  color: lightblue;
}

.title {
  color: darkblue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}
